.board_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .board_row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    font-size: 24px;
    font-weight: 600;
    color: coral;
    text-transform: uppercase;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .who_win{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    font-size: 24px;
    font-weight: 600;
    color: coral;
    text-transform: uppercase;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }
  .palyagin_button{
    display: flex;
background-color:  rgb(244, 117, 71);;
color: white;
border: none;
width: 100px;
height: 40px;
padding: 10px;
    align-items: center;
    justify-content: space-between;
    
  }
  .player_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    
  }

  .player_container input {
    width: 300px;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
.player_container button{
  display: flex;
  background-color:  rgb(244, 117, 71);;
  color: white;
  border: none;
  width: 100px;
  height: 40px;
  padding: 10px;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
}
.player_container button:hover{
  background-color: green
}
  
  

  
  @media screen and (max-width: 480px) {
    .board_container {
      margin-top: 20px;
     
    }
  
    .board_row {
      flex-wrap: wrap;
    }
  }
  